//  Design inspired by https://transformer.huggingface.co/doc/gpt2-large

header {
  width: 100%;
  left: 0;
  background-color: white;
  z-index: 100;
}


header h1{
  font-weight: 600;
  display: inline;
  margin: 0;
  font-size: 180%;
}

header .inner-heading {
  padding: 1.5em;
}

.logo {
  height: 3em;
  position: fixed;
  top: 2em;
}

// Collapsible description
.description {
  width: 100%;
  left: 0;
  background-color: #D0D0D0;
  text-align: center;
  position: absolute;
  top: 7.2em;
  overflow: hidden;
  display: list-item;
  margin-bottom: 1em;
  font-size: 1em;
}

// Remove black --- bottom border
summary {
  outline: none;
}

summary::-webkit-details-marker {
  display: none;
  margin: 0;
}

summary:after {
  content: "\f0fe";
  font-family: FontAwesome;
  font-size: 1em; 
  font-weight: bold; 
  padding: 0; 
  text-align: center; 
  width: 20px;
}
details[open] summary:after {
  content: "\f146";
  font-family: FontAwesome;
  font-weight: lighter; 
}

.desciption-txt {
  margin: 0;
  padding: 0;
  font-size: 1.1em;
}

.seperator {
  color: #D0D0D0;
  border-top: 0.25em solid;
}

// Interactive header options
.options {
  margin-top: 0.5em;
  font-size: 105%;
  color: #6d6d6d;
}

.options-el {
  display: inline-block;
  margin-right: 2em;
}

.header-el {
  display: inline-block;
  margin-right: 2em;
  padding-right: 2em;
}

//  Article attributes taken from https://codepen.io/tomhodgins/pen/BKPJaN
article {
  font-family: inherit;
  margin: 0.7em;
  padding: 5em;
  font-size: 110%;
  width: 100%;
  background: white;
  box-shadow: rgba(0,0,0,.05) 0 3px 15px;
  display: inline-block;
  margin-top: 5em;

}

.editor {
  text-align: center;
}

article p {
  margin: 0;
  color: #333;
  font-size: 1.7em;
  text-align: center;
}

h2 {
  font-size: 3.2em !important;
  text-align: center;
  font-weight: bolder;
  margin-bottom: 0.5em;
}

// + for elements placed immdiately after
article p + p {
  margin-top: .7em;
}

// For generated text decoration
.generated {
background-color: #eaf2fb;
border-radius: 6px;
padding: 3px 1px;
}

s {
  text-decoration: solid;
  background-color: #eaf2fb;
}

code {
  background-color:#eee;
  color: black;
}

.editable {
  outline: none;
}

.info-icon {
  padding: 0.5em;
}

.story-img{
  display: block;
    // center
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 50%;
  // margin-top: 1em;
  // margin-bottom: 2em;
  border-radius: 6px;
  padding: 3px 1px;
}

.sticky {
  position: fixed;
  top:0;
}

.noscroll {
  overflow: hidden;
}

.vpartial {
  max-height: 90vh;
}

.scrolling {
  overflow: auto;
  max-height: 98%;
}

// Ratings card

.rating-el-title-el {
  display: inline-block;
  margin-right: 0.1em;
}

output {
  padding: 0;
}

.card-title {
  font-variant-caps: all-petite-caps;
}

.submit-bttn {
  padding: 1.5em;
  padding-bottom: 0.5em;
  text-align: center;
}

textarea {
  width: 99%;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

// Quill
.ql-container {
  font-family: inherit;
}

// from https://codepen.io/orchard/pen/Jnwvb

.star-rating { 
  font-family: 'FontAwesome'; 
  padding-top: 0.7em;
  float: right;
  
  > fieldset {
    border: none;
    display: inline-block;
    
    &:not(:checked) {
      > input {
        position: absolute;
        top: -9999px;
        clip: rect(0,0,0,0);
      }

      > label {
        float: right;
        width: 1em;
        padding: 0 .05em;
        overflow: hidden;
        white-space: nowrap;
        cursor: pointer;
        font-size: 120%;
        color: #ecd34c;
        
        &:before {
          content: '\f006  ';
        }
        
        &:hover,
        &:hover ~ label {
          color: #FFD700;
          text-shadow: 0 0 3px #FFD700;
          &:before {
            content: '\f005  ';
          }
        }
      }
    }
    
    > input:checked {
      & ~ label {
        &:before {
          content: '\f005  ';
        }
      }    
    }    

    > label:active {
      position: relative;
      top: 2px;
    }
  }
}
